/*
* @autor Francisco Assis
*/

html,
body,
#home {
    height: 100%;
    overflow-x: hidden;
}

/* ================ */
/* ===== BODY ===== */
/* ================ */
body {
    background: url(../images/capa.png),
        url(../images/ruido.png),
        linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/* ================ */
/* ===== MENU ===== */
/* ================ */
nav.navbar-transparente {
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.4)
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 10px 20px;
}

/* ================ */
/* ===== HOME ===== */
/* ================ */
.capa {
    text-align: center;
}

.btn-custom {
    color: #fff;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
    background: #7c25f8
}

.btn-roxo:hover {
    background: #6207e3;
    color: #fff;
}

.btn-branco {
    border: 2px solid #fff;
}

.btn-branco:hover {
    background: #fff;
    color: #111;
}

/* ===== TIPOGRAFIA ===== */
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: #fff;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

/* ===== Slide da capa ===== */
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

/* ==================== */
/* ===== SERVICOS ===== */
/* ==================== */
#servicos {
    background: #fff;
    padding: 40px 0;
}

#servicos h2,
h3 {
    color: #7c25f8;
}

.albuns {
    padding: 10px 0;
}

/* ==================== */
/* ===== RECURSOS ===== */
/* ==================== */
#recursos {
    padding: 40px 0;
}

#recursos h2 {
    color: #fff;
}

#recursos p {
    color: #fff;
}

#recursos h3 {
    color: #9bf0e1;
}

.rotacionar {    
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    padding-left: 80px;
}

/* ================== */
/* ===== FOOTER ===== */
/* ================== */
footer{
    background: #111;
    padding: 40px 0px 20px 0px;
    position: relative;
}

footer h4{
    color: #919496;
    font-size: 12.8px;
    text-transform: uppercase;
}

footer .navbar-nav a{
    color: #fff;
    font-size: 12.8px;
}
footer .navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px;
}

/* ======================== */
/* ===== MEDIA QUERYS ===== */
/* ======================== */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 0;
        font-size: 16px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 50px;
    }

    .btn-custom {
        margin: 10px 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 64px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 80px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 96px;
    }
}