/* ===================== */
/* ==== BANNER HOME ==== */
/* ===================== */
#home {
    background: #ffc107;
    color: #fff;
}

.caixa{
    padding: 80px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a{
    margin: 5px 15px;
}